{% if embed_stylesX is defined %}
<style type="text/css">
    .np_theme_switcher {
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 20px;
        background: #66ff66;
        border: 2px solid #fff;
        box-shadow: 2px 2px 3px #000;
    }
    .np_theme_switcher label {
        display: block;
        font-weight: bold;
        margin-bottom: 3px;
    }
    .np_theme_switcher button {
        float: left;
        margin-right: 20px;
    }
</style>
{% endif %}
<div class="np_theme_switcher">
    <form action="{{ path('theme_switcher') }}" method="post">
        <label for="form_theme"><i class="fa fa-eye-light"></i> <span>Theme Preview</span></label>
        <div>
            {{ form_widget(form.theme) }}
            {{ form_rest(form) }}
        </div>
    </form>
</div>