{% extends layout %}

{% block body %}
    <h1>{{ active_theme.name }}</h1>
    <form action="{{ path('post_theme_settings', {'theme': active_theme.namespace}) }}" method="post">
        {{ form_widget(form) }}
        <a href="{{ path('get_themes') }}">Cancel</a>
        <input type="submit" name="Save" />
    </form>
{% endblock %}